<mat-toolbar color="primary">
  <span>Management Panel</span>

  <span class="example-spacer"></span>

  <button
    mat-flat-button
    color="primary"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/users"
  >
    Usuários
  </button>
  <button
    mat-flat-button
    color="primary"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    Produtos
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
